[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/neocomplete"]
	path = vim/vim.symlink/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/airline"]
	path = vim/vim.symlink/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim.symlink/bundle/tmuxline"]
	path = vim/vim.symlink/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/vim.symlink/bundle/gitgutter"]
	path = vim/vim.symlink/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
